.educational {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .educational {
        h1 {
            font-size: 26px;
        }
    } 
}
