.navbar {
    position: fixed;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $main-hover;
    z-index: 100;
    .icon-name {
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 42px;
        width: 42px;
        font-size: 20px;
        font-weight: bold;
        background-color: $primary;
    }
    .menu {
        display: flex;
    }
    .menu-mobile {
        display: none;
    }
    .list {
        user-select: none;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 0px 5px;
        font-size: 18px;
        font-weight: bold;
        color: $nav-font;
    }
    .list:hover {
        color: $nav-font-hover;
        transition: linear 300ms;
        background-color: $main;
    }
    .active {
        color: $nav-font-hover;
    }
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        .icon-name {
            margin: 0 10px;
        }
        .menu {
            display: none;
        }
        .menu-mobile {
            display: flex;
            margin: 0 10px;
            font-size: 24px;
        }
        .list-mobile {
            background-color: $main-hover;
            position: absolute;
            right: 0;
            top: 0;
            margin-top: 55px;
            animation: mymove 300ms;
            -webkit-animation: mymove 300ms;
            -moz-animation: mymove 300ms;
            -o-animation: mymove 300ms;
            margin-right: 0;
        }
        @keyframes mymove {
            0% {
                margin-right: -400px;
            }
            100% {
                margin-right: 0;
            }
        }
        .close {
            display: none;
        }
    }
}
