.profile {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .left {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 25px;
        img {
            border: 15px solid $main-hover;
            border-radius: 50%;
            width: 300px;
            height: 300px;
        }
    }
    .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 25px;
        h1 {
            font-size: 48px;
        }
        p {
            width: 400px;
            color: $normal-font;
            font-size: 16px;
            margin: 0 0 20px 0;
        }
    }
    .contact-set {
        display: flex;
        flex-direction: column;
    }
    .social {
        font-size: 28px;
        width: 100%;
        display: flex;
        a {
            margin: 15px 15px 0 0;
            color: #fff;
        }
        a:hover {
            color: $primary;
        }
    }
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        .left {
            width: 80%;
            justify-content: center;
            img {
                border: 15px solid $main-hover;
                border-radius: 50%;
                width: 250px;
                height: 250px;
            }
        }
        .right {
            width: 80%;
            align-items: center;
            h1 {
                text-align: center;
                font-size: 40px;
            }
        }
        .social {
            justify-content: center;
        }
    }
}

@media (max-width: 425px) {
    .profile {
        .right {
            h1 {
                font-size: 36px;
            }
            p {
                width: 320px;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 375px) {
    .profile {
        .right {
            h1 {
                font-size: 30px;
            }
            p {
                width: 100%;
                font-size: 16px;
            }
        }
        .contact-set {
            align-items: center;
        }
    }
}

@media (max-width: 375px) {
    .profile {
        .right {
            h1 {
                font-size: 25px;
            }
        }
    }
}
