.skills {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    section {
        display: flex;
    }
}

@media (max-width: 768px) {
    .skills {
        h1 {
            font-size: 26px;
        }
    }
}

@media (max-width: 425px) {
    .skills {
        section {
            flex-direction: column;
        }
    }
}
