.work-card {
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    .image {
        width: 400px;
        height: 200px;
        overflow: hidden;
        img {
            height: 200px;
        }
        .link {
            display: none;
        }
    }
    .image:hover {
        .link {
            transition: 300ms linear;
            display: flex;
        }
    }
    .link {
        z-index: 5;
        position: absolute;
        width: 400px;
        height: 200px;
        .bg {
            background-color: #000;
            opacity: 0.5;
            width: 400px;
            height: 200px;
            position: absolute;
            cursor: cross;
        }
        .detail {
            width: 400px;
            background-color: rgba(0, 0, 0, 0.6);
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px 0;
            h3 {
                margin: 0;
            }
            a {
                color: $primary;
            }
        }
        .tag {
            position: absolute;
            margin: 10px;
        }
    }
}

@media (max-width: 768px) {
    .work-card {
        margin: 5px;
        .image {
            width: 370px;
            height: 170px;
            img {
                height: 170px;
            }
        }
    }
}

@media (max-width: 425px) {
    .work-card {
        .image {
            width: 340px;
            height: 170px;
            img {
                height: 170px;
            }
        }
    }
}

@media (max-width: 375px) {
    .work-card {
        .image {
            width: 320px;
            height: 160px;
            img {
                height: 160px;
            }
        }
    }
}

@media (max-width: 320px) {
    .work-card {
        .image {
            width: 200px;
            height: 100px;
            img {
                height: 100px;
            }
        }
    }
}
